h1 {
    color: blue;
    font-weight: bold;
    
    }
    .button {
      background-color: #aa3e04; /* Green */
      border: 1 px solid black;
      color: white;
      border-radius: 1px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      position: relative;
              top: 10px;
              right: 10px;
    }
      .button:hover {
        background-color: #00492f; /* Green */
        color: white;
      }

      body {
        background-color: lightblue;
      }